span(class=get_task_status_name(task.status).toLowerCase() + " task-label", data-id=task.id)= '#' + task.id
div.task-details
    .name= "#" + task.id + ": " + task.title
    .date #{date_format(task.date)}
    .content= task.content
    ul.comments
        each comment in task.comments
            li
                .author= comment.author
                .date #{date_format(comment.date)}
                .content= comment.content
    
    form.add-comment
        input(type="hidden", name="task-id", value=task.id)
        textarea(name="comment").text
        br
        input(type="submit", value="Add Comment").submit

    form.change-status
        input(type="hidden", name="task-id", value=task.id)
        select(name="status").status
            each id, name in TaskStatus
                if id == task.status
                    option(value=id, selected="selected")= name
                else
                    option(value=id)= name
div.task-preview= task.title
